{
  "modules": {
    "forecast": {
      "apiKey": "FORECAST.IO-API-KEY"
    },
    "googleMaps": {
      "apiKey": "GOOGLE-MAPS-V3-API-KEY"
    },
    "last.fm": {
      "apiKey": "LAST-FM-API-KEY",
      "apiSecret": "LAST-FM-API-SECRET",
      "user": "username"
    }
  },
  "location": {
    "lat": 41.947854,
    "lng": -87.655883
  },
}
