<html lang="en">
  <head>
    <title>Microscope</title>
    <style>
      body{font-family:'Avenir'; -webkit-transition: background-color 1s ease-out, color 1s ease-out;}
    </style>
  </head>
  <body>
    {{{yield}}}
  </body>
</html>
