<p>hello from chicago.</p>
<p>it is {{weather.temperature}} and {{weather.conditions}}.</p>
<p>the sun sets {{weather.sunset}}.</p>
<hr>
<p>i am currently making things on the internet for <a href="#">groupon</a>.
<hr>
<p>i've listened to {{music.playCount}} songs today.</p>
<p>i'm currently listening to {{{music.nowPlaying}}}.</p>
